// Home.scss

.home {
    display: flex;
    background: rgb(120, 42, 179);
    background: linear-gradient(180deg, rgba(120, 42, 179, 1) 0%, rgba(52, 18, 77, 1) 100%);
    color: white;
    padding: 5rem 2rem;
}


.section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}





.contenido {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title {

    font-size: 2rem;
    margin-bottom: 2rem;

}

.description {
    font-size: 1rem;
    max-width: 90%;
    text-align: start;
    margin-bottom: 2rem;

}

.buttons {
    display: flex;
    justify-content: center;

}


.cover {
    width: 100%;
    height: 100%;
}