.FAQ {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.Contenidos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .titulo {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}