// TestimonialsPage.scss

.testimonials-page {

    margin: 0 auto;
    padding: 10rem 0;
    text-align: center;
    background: rgb(120, 42, 179);
    background: linear-gradient(180deg, rgba(120, 42, 179, 1) 0%, rgba(52, 18, 77, 1) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials-page__title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.testimonials-page-description {
    max-width: 50%;
    font-size: 1.2rem;
}

.testimonials-page__testimonials {
    display: flex;
    gap: 1rem;
    align-items: start;
    margin: 3rem 0;
    justify-content: space-evenly;
}